@tailwind base;
@tailwind components;
@tailwind utilities;

#star-btn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1.75rem /* 20px */;
  line-height: 1.75rem /* 28px */;
}

.off {
  color: rgb(153, 153, 153);
}
.on {
  color: rgb(255, 255, 255);
}

#star-btn:hover {
  transform: translateY(-0.25rem);
}

.map-container {
  width: 100%;
  height: 50vh;
}

#background-video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
